.classpath
.project
.settings
.idea
.project
./apollo-demo/.settings
./apollo-demo/target
./apollo-demo/target/*
./apollo-demo/.classpath
./apollo-demo/.project

./article-server/.settings
./article-server/target
./article-server/target/*
./article-server/.classpath
./article-server/.project

./demo-jpa/.settings
./demo-jpa/target
./demo-jpa/target/*
./demo-jpa/.classpath
./demo-jpa/.project

./eureka-server/.settings
./eureka-server/target
./eureka-server/target/*
./eureka-server/.classpath
./eureka-server/.project


./my-springboot-starter/.settings
./my-springboot-starter/target
./my-springboot-starter/target/*
./my-springboot-starter/.classpath
./my-springboot-starter/.project

./my-springboot-starter-used/.settings
./my-springboot-starter-used/target
./my-springboot-starter-used/target/*
./my-springboot-starter-used/.classpath
./my-springboot-starter-used/.project

./task-demo/.settings
./task-demo/target
./task-demo/target/*
./task-demo/.classpath
./task-demo/.project

./user-server/.settings
./user-server/target
./user-server/target/*
./user-server/.classpath
./user-server/.project

./zuul-server/.settings
./zuul-server/target
./zuul-server/target/*
./zuul-server/.classpath
./zuul-server/.project